@media (max-width: 7680px){
    .burger-menu input{
        visibility: hidden;
    }
    .border_right_lokation{
        display: flex;
        gap: 10px;
    }
}

@media (max-width: 1280px){
    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right:0;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu-btn > span::before {
        content: '';
        top: -8px;
    }
    .menu-btn > span::after {
        content: '';
        top: 8px;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right:0;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
    .menu-btn > span::before {
        content: '';
        top: -8px;
    }
    .menu-btn > span::after {
        content: '';
        top: 8px;
    }
    #menu-toggle{
        opacity: 0;
    }
    #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
    }
    #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
    }
    #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
    }
    #menu-toggle:checked ~ .menubox{
        visibility: visible;
        left: 0;
    }

    .menubox{
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        z-index: 1;
    }
    .menu-item {
        display: block;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu-item:hover {
        background-color: #CFD8DC;
    }
}
@media (max-width: 768px){
    .col-xs-12{
        width: 100%;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .col-xs-12{
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (max-width: 1280px) {
    .col_xs {
        width: 25%;
        flex-wrap: wrap;
        gap: 10px;

    }

    .container_main_card_text_order {
        order: 0;
    }

    .container_main_card_order {
        order: 1;
    }

    .container_main * {
        margin-bottom: 10px;
    }

    .container_main_card img {
        max-width: 320px;
        width: 100%;
        min-height: 320px;
    }

    .banner_comment {
        margin-bottom: 10px;
    }

    .img > img {
        margin-top: 0;
    }

    .buttons {
        margin-right: 20px;
    }

    .logo{
        margin-top: 5px;
    }

    .container_main_card{
        padding-right: 10px;
    }
}

@media (max-width: 1100px) {
    .col-l-3{
        width: 25%;
    }
    .col-m-4{
        width: 33,33%;
    }
    .companies_items {
        display: flex;
        justify-content: center;


    }
    .companies{
        flex-wrap: wrap;
        flex-direction: column;

    }

    .container_icons_small p{
        font-size: 1rem;
    }

    .icons_cards{
        gap: 20px;
    }

    .footer_case_studies{
        margin-bottom: 0;
    }
    .container_main_card p{
        padding-right: 10px;
    }
    .container_main_card h2{
        margin-top: 0;
    }

    .container_main *{
        margin-bottom: 35px;
    }


 body .container_main_card_header{
    margin-bottom: 110px;
}
    .col-s-6{
        width: 50%;
    }

    .col-xs-12{
        width: 100%;
    }

    .footer_case_studies{
        margin-right: 10px;
    }

    .footer{
        justify-content: normal;
    }
    .footer_link_lokation{
        gap: 50px;
    }

}

@media (max-width: 1024px) {
    .companies_items>img{
        margin: 0 25px 50px 25px;
    }
    .companies_items{
        margin: 0 auto;
        display: block;
    }

   .container_main_card{
       min-height: 465px;
   }
   .menu-btn{
       margin-top: 38px;
   }
    .container_specialisations_small img{
        margin: 0 auto;
        display: block;
    }
    .container_specialisations_small h3{
        text-align: center;
    }
    .container_specialisations_small p{
        text-align: center;
    }
    .container_specialisations_small a{
        text-align: center;
        display: block;
    }

    .companies_items{
        display: flex;
        justify-content: center;
    }

    .border_right{
        margin-right: 10px;
    }
    .container_main_card_text_order_0{
        order: 0;
    }
    .container_main_card_order_1{
        order: 1;
    }
    .container_main_card_text_order_2{
        order: 0;
    }
    .container_main_card_order_3{
        order: 1;
    }
    .container_main_card_text_order_4{
        order: 0;
    }
    .container_main_card_order_5{
        order: 1;
    }
    .container_main_card_text_order_6{
        order: 0;
    }
    .container_main_card_order_7{
        order: 1;
    }
}

@media (max-width: 768px) {
    .companies_items{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }


    .banner{
        justify-content: center;
    }
    h1{
        text-align: center;
        max-width: 600px;
    }

    .banner_text_info{
        text-align: center;
        max-width: 600px;
    }

    .banner_buttons{
        display: flex;
        justify-content: center;
    }

    .banner_comment{
        text-align: right;
        max-width: 600px;
    }

    h2{
        text-align: center;
    }

    .container_main{
        flex-direction: column;
        max-width: 600px;
        justify-content: center;
        align-items: center;

    }
    .container_main_card{
        width: 100%;
    }

    .container_main_card_text_order_0{
        order: 0;
    }
    .container_main_card_order_1{
        order: 1;
    }
    .container_main_card_text_order_2{
        order: 2;
    }
    .container_main_card_order_3{
        order: 3;
    }
    .container_main_card_text_order_4{
        order: 4;
    }
    .container_main_card_order_5{
        order: 5;
    }
    .container_main_card_text_order_6{
        order: 6;
    }
    .container_main_card_order_7{
        order: 7;
    }



    .container_main_card h2{
        max-width: 600px;
        margin: 0;
    }

    .container_main_card p{
        max-width: none;
        padding: 0;
        text-align: center;
    }

    .container_main_card img{
        max-width: none;
    }

    .container_revolut_info_text{
        padding-right: 10px;
    }

    .container_revolut_info div>img{
        margin-bottom: 50px;
    }

    .cake_img{
        margin-top: 50px;
    }

    h4{
        line-height: normal;
        padding: 0 10px;

    }

    .border_right{
        margin-right: 10px;
    }

    .banner_software_symbols_lokation{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;
    }

    .banner_software_symbols{
        margin-top: 0;
    }

    .banner_worktools_elements img{
        width: 100%;
    }

    .footer_link_lokation{
        display: flex;
        margin-top: 0;
    }

    .footer{
        justify-content: normal;
        gap: 30px;
    }

    .footer_contact_info{
        flex-direction: column;
        justify-content: center;
    }

    .footer_contact_info_start{
        justify-content: center;
    }

    .footer_contact_info_end{
        margin: 47px auto 48px auto;
        text-align: center;
    }

    .container_main_link{
        display: block;
        text-align: center;
    }

    .footer{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .footer_case_studies{
        min-width: 100%;

    }
    .footer_case_studies h6{
        text-align: center;
    }
    .cyclists{
        display: block;
        margin: 0 auto;
    }
    .footer_img_symbol_6{
        display: block;
        margin: 0 auto;
    }
    .footer_case_studies_text{
        max-width: 760px;
        text-align: center;
    }
    .footer_case_studies_link{
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .footer_link h3{
        margin-top: 0;
    }
    .footer_link_lokation{
        min-width: 100%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 566px) {
    body .list_lokation{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-right: 25px;
    }

    .container_text_boost{
        padding-top: 75px;
    }

    .container_main_card{
        padding-right: 0;
    }


    .specialisation_cards{
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .specialisation_cards img{
        margin: 0 auto;
        display: block;
    }

    .specialisation_cards h3{
        text-align: center;
    }

    .container_specialisations_small p{
        text-align: center;
        max-width: 566px;
    }

    .container_specialisations_small a{
        text-align: center;
        display: block;
    }

    .container_revolut_info{
        flex-direction: column;
    }

    .banner_software_symbols_lokation{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    .container_revolut_img{
        max-width: 560px;
        width: 100%;
        margin-top: 0;
    }

    .container_icons h2{
        padding-top: 75px;
    }


    .banner_software_items{
        flex-direction: column;
    }

    .cake_img{
        max-width: 100px;
        margin-bottom: 0;
    }
    .border_right{
        border: 0;
    }
    .border_right h4{
        margin-bottom: 10px;
        text-align: right;
        font-size: 1.25rem;
        display: inline-block;
    }

    .border_right_lokation{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .border_right h4{
        font-size: 0.85rem;
    }

    .banner_software_symbols .ttu{
        font-size: 0.85rem;
    }

    .cyclists{
        width: 100%;
    }

    .container_main_card{
        min-height: 0;
    }

    .banner_worktools_elements h5{
        margin-top: 50px;
    }

    .banner_worktools_elements{
        margin-bottom: 50px;
    }
    .specialisation_cards{
        margin-bottom: 63px;
    }

    .container_icons h2{
        padding-top: 63px;
    }

    h1{
        margin-top: 63px;
    }

    .footer_link_lokation{
        flex-direction: column;
        max-width: 100%;
        gap: 10px;
        margin-bottom: 20px;
    }
    .footer_link h3{
        text-align: center;

    }
    .footer_link ul{
        text-align: center;
    }

}