.footer_background{
    background-color: #EEEEEE;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid black;
}

h6{
    font-size: 2rem;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
    margin-bottom: 28px;
}

.cyclists{
    border: 1px solid black;
    margin-bottom: 32px;
    display: block;
}

.footer_case_studies_text{
    max-width: 290px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: left;
}

.footer_case_studies_link{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 95px;
    color: black;
}

.footer_case_studies{

    margin-bottom: 52px;
}

.footer_link{
    color: black;
}

.footer_link h3{
    font-size: 1rem;
    font-weight: 600;
    margin: 80px 0 21px 0;
    text-align: left;

}

.footer_link ul{
    list-style: none;
    margin-left: -38px;
}

.footer_link a{
    color: black;
    font-size: 0.75rem;
    font-weight: 400;
}

.footer_contact_info{
    display: flex;
    justify-content: space-between;

}

.footer_contact_info img{
    margin-top: 52px;
}

.footer_contact_info p{
    font-size: 0.6rem;
    font-weight: 400;
    max-width: 301px;
    align-self: start;
}

.footer_contact_info_start{
    display: flex;
    gap: 14px;
}

.footer_contact_info_start p{
    margin-top: 52px;
}

.footer_contact_info_start img{
    display: block;
    max-width: 89px;
    max-height: 21px;
}
.footer_contact_info_end{
    margin-top: 47px;
    margin-bottom: 48px;
}

.footer_link_lokation{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 113px;
    margin-top: 9px;
    flex-wrap: wrap;
}