@import "header.css";
@import "normalize.css";
@import "banner.css";
@import "Companies.css";
@import "container_main.css";
@import "icons.css";
@import "spetialisations.css";
@import "revolut_info.css";
@import "banner_software.css";
@import "banner_worktools.css";
@import "banner_localize.css";
@import "footer.css";
@import "fonts.css";
@import "adaptation.css";
*{
    box-sizing: border-box;
}

html{
    font-family: "Graphik LCG";
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

body{
    margin: 0;
    font: normal 20px "Graphik LCG";
    color: black;
}

a{
    text-decoration: none;
    font-weight: normal;
    color: black;
}

.list_no_style{
    list-style: none;
}

@-webkit-keyframes hvr-hang {
    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }

    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }

    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}

@keyframes hvr-hang {
    0% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }

    50% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px)
    }

    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}


@-webkit-keyframes hvr-hang-sink {
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}

@keyframes hvr-hang-sink {
    100% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}

.hvr-hang {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0)
}

.hvr-hang:active,
.hvr-hang:focus,
.hvr-hang:hover {
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate
}

.underline{
    text-decoration: underline ;
}