@import "header.css";
@import "normalize.css";
@import "banner.css";
@import "Companies.css";
@import "container_main.css";
@import "icons.css";
@import "spetialisations.css";
@import "revolut_info.css";
@import "banner_software.css";
@import "banner_worktools.css";
@import "banner_localize.css";
*{
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

body{
    margin: 0;
    font: normal 20px "Graphik LC TT";
    color: black;
}

a{
    text-decoration: none;
}

.list_no_style{
    list-style: none;
}